.gaTCvF {
  background-color: var(--basic-white) !important;
  color: var(--text-black) !important;
}

.blue {
  color: blue;
}

.header {
  background-color: var(--basic-white) !important;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  box-shadow: 0px 0px 15.3px 0px #0000000f;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-info {
  color: var(--text-black) !important;
}

.profile-name {
  margin: 0;
  font-size: 14px;
  width: 61px;
  height: 19px;
}

.profile-role {
  margin: 0;
  font-size: 12px;
  width: 37px;
  height: 16px;
}
.icon-suffix {
  display: none;
}
.fvWJS a{
  color: rgb(0, 0, 0) !important;
}
@media only screen and (max-width: 999px) {
  .icon-suffix {
    display: block !important;
  }
}
