.gaTCvF {
  background-color: var(--basic-white) !important;
  color: var(--text-black) !important; 
}

.blue {
  color: blue;
}

.header {
  background-color: var(--basic-white) !important;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.profile {
  display: flex;
  align-items: center;
} 

.profile-info {
  color: var(--text-black) !important;
}

.profile-name {
  margin: 0;
  font-size: 14px;
  width: 61px;
  height: 19px;
}

.profile-role {
  margin: 0;
  font-size: 12px;
  width: 37px;
  height: 16px;
} 
.icon-suffix {
  display: none;
}
@media only screen and (max-width: 999px) {
  .icon-suffix {
    display: block !important;
  }
}