.sider-bar {
  position: absolute;
  top: 0;
  box-shadow: 0px 0px 15.3px 0px #0000000f;
}
.jGeaPm .head-div {
  padding: 15px 30px !important;
}
.primarycontainer {
  width: calc(100% - 19%);
  padding-top: 30px;
  margin-left: auto;
}
.sider-bar .sc-JrDLc.gaTCvF.pro-sidebar.toggled .primarycontainer {
  width: 100% !important;
  padding-top: 32px;
  margin-left: auto;
}
.fi-box {
  display: flex;
  justify-content: space-between;
}
.box-iocns {
  padding: 18px 14px;
  background-color: var(--light-blue);
  border-radius: 7px;
  height: 100%;
}
.box-iocns-green {
  padding: 18px 17px;
  background-color: #30fb7438;
  border-radius: 7px;
  height: 100%;
}
.viewBtn {
  color: var(--basic-green);
  margin-top: 35px;
}
.containerWapper {
  width: 98%;
}
.jGeaPm .head-div {
  padding: 15px 30px;
}

.container11 {
  margin-top: 40px;
  border: 1px solid var(--bg-light);
  background: #fff;
  padding: 32px;
  box-shadow: 0px 0px 15.3px 0px #0000000f;
  border-radius: var(--border-small-radius);
}

th {
  font-size: 14px;
  font-weight: 700;
  padding: 16px 15px !important;
  background-color: var(--table-head) !important;
  
}

td {
  font-size: 14px;
  font-weight: 600;
  padding: 16px 15px !important;
}
.headersearch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  align-items: center;
}
.std {
  font-weight: 700;
}
.search-container {
  position: relative;
}
.search-container input {
  padding: 10px 0px 10px 41px;
  background: var(--search-bg);
  border-radius: 999px;
  font-size: 15px;
  border: 1px solid var(--search-border-color);
}
.search-icon {
  position: absolute;
  top: 49%;
  left: 13px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: var(--search-border-color);
}
.actionEdit {
  padding: 7px 11px;
  border: 1px solid var(--search-border-color);
  border-radius: var(--border-icon-radius);
  color: #000000;
}
.actionWapper {
  display: flex;
  gap: 7px;
}
button.actionEdit {
  background: var(--danger-red);
  color: #fff;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media only screen and (max-width: 1182px) {
  .containerWapper {
    width: calc(100% - 14%) !important;
    margin: auto;
  }
}
@media only screen and (max-width: 999px) {
  .containerWapper {
    width: 100% !important;
  }
  .primarycontainer {
    width: 90% !important;
    margin: auto !important;
  }
  .sc-JrDLc.gaTCvF.pro-sidebar.toggled {
    background: #fff0 !important;
  }
  .sc-JrDLc.gaTCvF.pro-sidebar.toggled .sc-fBWQRz.fRhOkl.pro-sidebar-content,
  .pro-sidebar-footer {
    display: none;
  }
}
@media only screen and (max-width: 799px) {
}

@media only screen and (max-width: 499px) {
  .fi-box {
    flex-direction: column;
  }
  .box-iocns,
  .box-iocns-green {
    display: none;
  }
}
