.sider-bar {
  position: absolute;
  top: 0;
  box-shadow: 0px 0px 15.3px 0px #0000000f;
}

.jGeaPm .head-div {
  padding: 15px 30px !important;
}

.primarycontainer {
  width: calc(100% - 19%);
  padding-top: 30px;
  margin-left: auto;
}

.sider-bar .sc-JrDLc.gaTCvF.pro-sidebar.toggled .primarycontainer {
  width: 100% !important;
  padding-top: 32px;
  margin-left: auto;
}

.fi-box {
  display: flex;
  justify-content: space-between;
}

.box-iocns {
  padding: 18px 14px;
  background-color: var(--light-blue);
  border-radius: 7px;
  height: 100%;
}

.box-iocns-green {
  padding: 18px 17px;
  background-color: #30fb7438;
  border-radius: 7px;
  height: 100%;
}

.viewBtn {
  color: var(--basic-green);
  margin-top: 35px;
}

.containerWapper {
  width: 98%;
}

.jGeaPm .head-div {
  padding: 15px 30px;
}

.container11 {
  margin-top: 40px;
  border: 1px solid var(--bg-light);
  background: #fff;
  padding: 32px;
  box-shadow: 0px 0px 15.3px 0px #0000000f;
  border-radius: var(--border-small-radius);
}

th {
  font-size: 14px;
  font-weight: 700;
  padding: 16px 15px !important;
  background-color: var(--table-head) !important;

}

td {
  font-size: 14px;
  font-weight: 600;
  padding: 16px 15px !important;
}

.headersearch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  align-items: center;
}

.std {
  font-weight: 700;
}

.search-container {
  position: relative;
}

.search-container input {
  padding: 10px 0px 10px 41px;
  background: var(--search-bg);
  border-radius: 999px;
  font-size: 15px;
  border: 1px solid var(--search-border-color);
}

.search-icon {
  position: absolute;
  top: 49%;
  left: 13px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: var(--search-border-color);
}

.actionEdit {
  padding: 7px 11px;
  border: 1px solid var(--search-border-color);
  border-radius: var(--border-icon-radius);
  color: #000000;
}
button.actionDelete {
  padding: 7px 11px;
  border: 1px solid var(--search-border-color);
  border-radius: var(--border-icon-radius);
  color: #ffffff;
  background-color: var(--danger-red);
}
.actionWapper {
  display: flex;
  gap: 7px;
}

button.actionEdit {
  background: var(--danger-red);
  color: #fff;
} 
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  Addquestions
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


.studentdeletebutton {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%
}

.deletebutton {
  padding: 14px 25px !important;
  background-color: var(--light-red) !important;
  border: 0.6px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
}

.Addbutton {
  padding: 14px 25px !important;
  background-color: var(--success-green) !important;
  border: 0.6px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700; 
}

.question-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 23px !important;
  background-color: var(--bg-light-blue) !important;
  margin-bottom: 20px;
  border-radius: 10px;
}

.delete-button {
  padding: 14px 25px !important;
  background-color: var(--danger-red) !important;
  border: 0.6px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
}

.delete-container {
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: 25px;
}

.backtoquestionbutton{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-right: 30px;
} 

.listofquestions{
  margin-left: 30px;
} 

.selectCategory{
  font-size: 14px;
  font-weight: 600;
  border: 1px solid var(--search-border-color);
  background-color: var(--input-backgroundcolor) !important;
  padding: 5px;
}

.sectionName input {
  width: 100%;
  padding: 14px;
  margin-top: 18px;
  border: 1px solid var(--search-border-color);
  border-radius: var(--border-icon-radius) !important;
  background-color: var(--input-backgroundcolor) !important;
}
.sectionName select.form-select {
  width: 100%;
  padding: 14px;
  margin-top: 18px;
  border-radius: var(--border-icon-radius) !important;
}
.labelfor{
  margin-top: 30px; 
}

.submitcancelbutton{
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.submitbutton{
  padding:14px 40px 15px 41px !important;
  border: 1px solid var(--basic-blue) !important ;
  border-radius: 10px;
  background-color: var(--basic-blue) !important;
  color: var(--basic-white) !important;
}
.cancelbutton{
  padding:14px 40px 15px 41px !important;
  border: 1px solid var(--basic-blue) !important;
  border-radius: 10px;
  background-color: var(--basic-white) !important;
  color: var(--basic-blue) !important;
}
/* table style */
table {
  width: 100%;
}
.copyWrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  background: var(--light-blue);
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px; 
  cursor: pointer;
}
.pagination {
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin: 29px auto;
  background: var(--table-head);
  padding: 18px; 
  border-radius: var(--border-small-radius);
}
.pageBtn {
  padding: 4px 12px;
  background: var(--basic-green);
  color: #fff;
  border: none;
  border-radius: var(--border-icon-radius);
}
.copyWrapper:active {
  background: var(--basic-bodycolor);
}
td,th {
  white-space: nowrap;
}
select.selctVl {
  padding: 7px;
  border-radius: 3px;
  border-color: var(--search-border-color);
  background-color: var(--search-bg);
}
.selctVl option {
  border-radius: 3px;
  border-color: var(--search-border-color);
  background-color: var(--search-bg);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.profileWapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 50%;
  border-radius: 6px;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 1px 8px 3px #0000000a;
}
.boxPro {
  padding: 10px 16px;
  background: var(--light-blue);
  border-radius: var(--border-icon-radius);
}
.profileBg {
  background: var(--basic-green);
  height: 160px;
  width: 100%;
  border-radius: var(--border-small-radius);
}
.boxProLogn{
  margin-top: 1rem;
  padding: 10px 16px;
  background: var(--light-blue);
  border-radius: var(--border-icon-radius);
}
.tableWapper {
  overflow: auto;
  min-height: 300px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxx============================xxxxxxxxxxxxxxxxxxxxxxxxxx */
.contentSection{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--basic-blue);
  align-items: center;
  padding: 20px;
  color: #fff;
  border-radius: var(--border-small-radius);
}
.contentSection h6{
  margin: 0;
}
.contentSection svg {
  font-size: 25px;
}




/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media only screen and (max-width: 1182px) {
  .containerWapper {
    width: calc(100% - 14%) !important;
    margin: auto;
  }
}

@media only screen and (max-width: 999px) {
  .containerWapper {
    width: 100% !important;
  }

  .primarycontainer {
    width: 90% !important;
    margin: auto !important;
  }

  .sc-JrDLc.gaTCvF.pro-sidebar.toggled {
    background: #fff0 !important;
  }

  .sc-JrDLc.gaTCvF.pro-sidebar.toggled .sc-fBWQRz.fRhOkl.pro-sidebar-content,
  .pro-sidebar-footer {
    display: none;
  }
}

@media only screen and (max-width: 799px) {}

@media only screen and (max-width: 499px) {
  .fi-box {
    flex-direction: column;
  }

  .box-iocns,
  .box-iocns-green {
    display: none;
  }
}