@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --text-black: #070707 !important;
  --basic-blue: #4880ff !important;
  --success-green: #a4ffc3 !important;
  --danger-red: #f22828 !important;
  --bg-light: rgba(88, 88, 88, 0.29) !important;
  --bg-light-blue: #e9f0ff !important;
  --gold-color: #ffca45 !important;
  --basic-green: #00b69b !important;
  --basic-white: #ffffff !important;
  --basic-bodycolor: #f5f6fa !important;
  --light-blue: rgba(130, 128, 255, 0.36) !important;
  --table-color: #f1f4f9 !important;
  --search-border-color: #d5d5d5 !important;
  --search-bg: #f5f6fa !important;
  --table-head: #f1f4f9 !important;
  --light-red:  #FFC7C7 !important;
}

:root {
  --border-small-radius: 14px !important;
  --border-icon-radius: 4px !important;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  font-size: 14px !important;
}
p {
  font-size: 14px !important;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--text-black);
  background-color: var(--basic-bodycolor);
}
p li {
  font-size: 14px;
  color: var(--text-black);
}
h1 {
  font-size: 56px;
  font-weight: 600;
}

h2 {
  font-size: 48px;
  font-weight: 600;
}

h3 {
  font-size: 40px;
  font-weight: 600;
}

h4 {
  font-size: 32px;
  font-weight: 700;
}

h5 {
  font-size: 24px;
  font-weight: 200;
}

h6 {
  font-size: 20px;
  font-weight: 200;
}
